* {
  box-sizing: border-box;
}

body {
  color: #383F4D;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.unselectable {
  user-select: none;
}

/* 
=====
Table
=====
*/

.tableContainer {
  margin: 0 auto;
  max-height: 400px;
  overflow: auto;
  /* 17px for scrollbar width */
  width: calc(95% - 17px);
}

/*
=====
Scrollable Table
=====
*/

.scrollableTable {
  border-spacing: 0;
  width: 100%;
}

.staticHeaderTable thead th {
  position: sticky;
  top: 0;
}

.scrollableTable th {
  background: #FFFFFF;
  border-bottom: 1px solid #1A1A1A;
  font-weight: bold;
  padding: 8px 10px;
  text-align: left;
}

.scrollableTable tbody {
  border-top: none;
  height: 200px;
  overflow-y: scroll;
}

.scrollableTable tbody tr:first-child td {
  border-top: none;
}

.scrollableTable tbody tr:nth-child(n) td {
  background: #000000;
}

.scrollableTable tbody tr:nth-child(2n) td {
  background: #AAAAAA;
}

.scrollableTable td {
  border-top: 1px solid #DDDDDD;
  padding: 8px 20px;
}

/*
=====
Sortable Table
=====
*/

.sortableTable th.default {
  background-image: url("./images/default_arrow.png");
}

.sortableTable th.down {
  background-image: url("./images/down_arrow.png");
}

.sortableTable th.up {
  background-image: url("./images/up_arrow.png");
}

.sortableTable th.default,
th.down,
th.up {
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
}