* {
  box-sizing: border-box;
}

body {
  color: #383F4D;
  line-height: 1.5;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
  sans-serif;
}

.unselectable {
  user-select: none;
}

/* 
=================
Table
=====================
*/

.scrollableTableWithTitle {
  width: calc(95% - 17px); /* 17px for scrollbar width */
  max-height: 400px;
  margin: 0 auto;
  overflow: auto;
}

.scrollableTable {
  width: 100%;
  border-spacing: 0;
}

.scrollableTable th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.scrollableTable th.up {
  background-image: url("./images/up_arrow.png");
}
.scrollableTable th.down {
  background-image: url("./images/down_arrow.png");
}
.scrollableTable th.default {
  background-image: url("./images/default_arrow.png");
}

.scrollableTable th.up, th.default, th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.scrollableTable td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.scrollableTable tbody tr:first-child td {
  border-top: none;
}

.scrollableTable tbody tr:nth-child(n) td {
  background: #000000;
}

.staticTableHead thead th {
  position: sticky;
  top: 0;
}

.scrollableTable tbody {
  height: 200px;
  overflow-y: scroll;
}

.scrollableTable tbody tr:nth-child(2n) td {
  background: #AAAAAA;
}
